footer.footer 
  .container 
    .footer-top 
      .footer-colunm 
        h3.footer-heading.footer-heading--logo MoGo
        p.footer-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed officia mollitia accusamus laboriosam quo, nihil est sint nesciunt repellat earum maxime vel eius? Nesciunt ratione aut quis, necessitatibus enim quisquam.
        p.footer-follwer <strong>15K</strong> followers
        .footer-social 
          span Follow US:
          .footer-social-list
            i.fab.fa-facebook.footer-social-icon
            i.fab.fa-twitter.footer-social-icon
            i.fab.fa-instagram.footer-social-icon
            i.fab.fa-pinterest.footer-social-icon
            i.fab.fa-youtube.footer-social-icon
        form.footer-form(action="javascript:void(0)")
          input(type="email" placeholder="Your Email").footer-form-intput
          button.footer-form-button Subscribe
      .footer-colunm 
        h3.footer-heading Blogs 
        .footer-blog 
          img.footer-blog-image(src="https://images.unsplash.com/photo-1485081669829-bacb8c7bb1f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date jan 9, 2016
        .footer-blog 
          img.footer-blog-image(src="https://images.unsplash.com/photo-1522277245807-5e608aa8adcd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date jan 9, 2016
        .footer-blog 
          img.footer-blog-image(src="https://images.unsplash.com/photo-1475319122043-5ca9eeceefaf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date jan 9, 2016
      .footer-colunm 
        h3.footer-heading Instagram 
        .footer-images 
          .footer-image 
            img(src="https://images.unsplash.com/12/till-the-cows-come-home.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
          .footer-image 
            img(src="https://images.unsplash.com/photo-1535068484622-7a077e5aa558?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80")
          .footer-image 
            img(src="https://images.unsplash.com/photo-1429552077091-836152271555?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=664&q=80")
          .footer-image 
            img(src="https://images.unsplash.com/photo-1591827217518-105035b8e740?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
          .footer-image 
            img(src="https://images.unsplash.com/photo-1617191402371-a1aab288b146?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=966&q=80")
          .footer-image 
            img(src="https://images.unsplash.com/photo-1516804111857-ff7e2e566d4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1356&q=80")
          .footer-image 
            img(src="https://images.unsplash.com/photo-1613463053865-32884d09939a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
          .footer-image 
            img(src="https://images.unsplash.com/photo-1501760845351-4a8c9c6a5037?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
          .footer-image 
            img(src="https://images.unsplash.com/photo-1525663018617-37753d540108?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80")
          a(href="#").footer-images-more View more photos
    .footer-bottom &copy; 2016 MoGo free PSD template by <span> Laaqiq </span>