section.people 
  .container 
    +blockBox("Happy Clients", "What people say")
    ul.people-list 
      li.people-item 
        img.people-avatar(src="./images/img-people1.png")
        .people-info 
          h3.people-name Matthew Dix
          span.people-job Graphic design 
          p.people-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quaerat error eaque, quam commodi necessitatibus enim tempora ad ullam dolorum illo hic est beatae dolorem in dignissimos praesentium molestiae voluptatum.
      li.people-item 
        img.people-avatar(src="./images/img-people2.png")
        .people-info 
          h3.people-name Matthew Dix
          span.people-job Graphic design 
          p.people-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quaerat error eaque, quam commodi necessitatibus enim tempora ad ullam dolorum illo hic est beatae dolorem in dignissimos praesentium molestiae voluptatum.
      li.people-item 
        img.people-avatar(src="./images/img-people3.png")
        .people-info 
          h3.people-name Matthew Dix
          span.people-job Graphic design 
          p.people-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quaerat error eaque, quam commodi necessitatibus enim tempora ad ullam dolorum illo hic est beatae dolorem in dignissimos praesentium molestiae voluptatum.
      li.people-item 
        img.people-avatar(src="./images/img-people4.png")
        .people-info 
          h3.people-name Matthew Dix
          span.people-job Graphic design 
          p.people-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quaerat error eaque, quam commodi necessitatibus enim tempora ad ullam dolorum illo hic est beatae dolorem in dignissimos praesentium molestiae voluptatum.