section.quote 
  .container 
    .quote-container 
      i.fa.fa-angle-left.quote-arrow-left.quote-arrow
      .quote-content 
       .quote-icon
        img(src="./images/img-quote.png")
      .quote-info 
        p.quote-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam et assumenda modi deserunt non ad voluptates quis rem voluptas asperiores quibusdam, nihil laboriosam nisi, fugiat veritatis doloremque tempore cum incidunt!
        span.quote-author Jon Doe 
      i.fa.fa-angle-right.quote-arrow-right.quote-arrow