section.service 
  .container 
   +blockBox("We work with", "Amazing Serviec")
   .service-container
    .service-list 
      .service-item 
       img.service-item-icon(src="./images/img-service-icon1.png")
       .service-item-info 
          h3.service-item-title Photography 
          p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cupiditate dignissimos 
      .service-item 
       img.service-item-icon(src="./images/img-service-icon2.png")
       .service-item-info 
          h3.service-item-title Web design
          p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cupiditate dignissimos 
      .service-item 
       img.service-item-icon(src="./images/img-service-icon3.png")
       .service-item-info 
         h3.service-item-title Creativity
         p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cupiditate dignissimos 
    .service-list 
      .service-item 
       img.service-item-icon(src="./images/img-service-icon4.png")
       .service-item-info 
          h3.service-item-title Seo
          p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cupiditate dignissimos 
      .service-item 
       img.service-item-icon(src="./images/img-service-icon5.png")
       .service-item-info 
          h3.service-item-title Css/html
          p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cupiditate dignissimos 
      .service-item 
       img.service-item-icon(src="./images/img-service-icon6.png")
       .service-item-info 
         h3.service-item-title Digital
         p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cupiditate dignissimos 
      
      
      
      
       
      
      
      
      
      
      
      