section.story 
  .container 
    +blockBox("Our stories", "Latest blog")
    ul.story-list 
      li.story-item 
        .story-media 
          img.story-image(src="./images/img-blog1.png")
          .story-date
            span.story-date-number 15
            span.story-date-text jan
        h3.story-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
        p.story-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur harum nobis libero. Quos, et non saepe libero, dolorum deserunt rem architecto harum nobis eaque alias pariatur porro maxime quis velit.
        .story-meta 
          .story-meta-item 
            i.fa.fa-eye.story-meta-icon 
            span.story-meta-number 54
          .story-meta-item 
            i.fa.fa-comment.story-meta-icon 
            span.story-meta-number 17
      li.story-item 
        .story-media 
          img.story-image(src="./images/img-blog2.png")
          .story-date
            span.story-date-number 15
            span.story-date-text jan
        h3.story-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
        p.story-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur harum nobis libero. Quos, et non saepe libero, dolorum deserunt rem architecto harum nobis eaque alias pariatur porro maxime quis velit.
        .story-meta 
          .story-meta-item 
            i.fa.fa-eye.story-meta-icon 
            span.story-meta-number 54
          .story-meta-item 
            i.fa.fa-comment.story-meta-icon 
            span.story-meta-number 17
      li.story-item 
        .story-media 
          img.story-image(src="./images/img-blog3.png")
          .story-date
            span.story-date-number 15
            span.story-date-text jan
        h3.story-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
        p.story-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur harum nobis libero. Quos, et non saepe libero, dolorum deserunt rem architecto harum nobis eaque alias pariatur porro maxime quis velit.
        .story-meta 
          .story-meta-item 
            i.fa.fa-eye.story-meta-icon 
            span.story-meta-number 54
          .story-meta-item 
            i.fa.fa-comment.story-meta-icon 
            span.story-meta-number 17

section.map 
  .container 
    .map-content
      img.map-icon(src="../images/img-map-icon.png")
      h2.map-heading Open map