section.wedo 
   .container 
     +blockBox("Services", "What we do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
     .wedo-container 
      img(src="./images/img-wedo.png").wedo-image
      .wedo-content
       .wedo-item.is-active
        .wedo-item-header 
         img(src="./images/img-wedo-icon1.png").wedo-item-icon
         h3.wedo-item-title Photography
         i.fa.fa-angle-up.wedo-item-arrow
        .wedo-item-content 
         .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laboriosam alias ad! Alias natus tempora nemo? Vel earum aspernatur asperiores soluta voluptates non, libero magni similique laborum. Sit, illum distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aliquam qui illo ea magni, nihil officiis nemo iure nisi autem quo enim cupiditate neque? Earum laudantium amet quaerat doloremque placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium non eaque quisquam! Rem, animi! Reprehenderit, fugiat. Possimus consequuntur cumque eos, commodi blanditiis, fuga, assumenda eligendi rem repellat tenetur maiores tempore.
       .wedo-item
        .wedo-item-header 
         img(src="./images/img-wedo-icon2.png").wedo-item-icon
         h3.wedo-item-title Creativity
         i.fa.fa-angle-down.wedo-item-arrow
        .wedo-item-content 
         .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laboriosam alias ad! Alias natus tempora nemo? Vel earum aspernatur asperiores soluta voluptates non, libero magni similique laborum. Sit, illum distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aliquam qui illo ea magni, nihil officiis nemo iure nisi autem quo enim cupiditate neque? Earum laudantium amet quaerat doloremque placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium non eaque quisquam! Rem, animi! Reprehenderit, fugiat. Possimus consequuntur cumque eos, commodi blanditiis, fuga, assumenda eligendi rem repellat tenetur maiores tempore.
       .wedo-item 
        .wedo-item-header 
         img(src="./images/img-wedo-icon3.png").wedo-item-icon
         h3.wedo-item-title Web design
         i.fa.fa-angle-down.wedo-item-arrow
        .wedo-item-content 
         .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laboriosam alias ad! Alias natus tempora nemo? Vel earum aspernatur asperiores soluta voluptates non, libero magni similique laborum. Sit, illum distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aliquam qui illo ea magni, nihil officiis nemo iure nisi autem quo enim cupiditate neque? Earum laudantium amet quaerat doloremque placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium non eaque quisquam! Rem, animi! Reprehenderit, fugiat. Possimus consequuntur cumque eos, commodi blanditiis, fuga, assumenda eligendi rem repellat tenetur maiores tempore.